<!DOCTYPE html>
<!--[if lt IE 9]><html class="no-js lt-ie9" lang="en" dir="ltr"><![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en" dir="ltr">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <!-- Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
        wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html -->
    <title>Public Health ReactDotNetDemo | Public Health Agency of Canada</title>
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <!-- Meta data -->
    <meta name="description" content="Welcome to the Public Health ReactDotNetDemo, a series of tools to help visualize, analyze, interpret and disseminate health indicator data for chronic disease, injury and child/maternal health. Our hope is that through these tools, health related data will be converted into information and knowledge that will be used to improve the health of Canadians.">
    @*
        <link rel="canonical" href="https://infobase-en.canada.ca/EN/@ViewContext.RouteData.GetRequiredString("controller").ToLower()/@ViewContext.RouteData.GetRequiredString("action").ToLower()/@ViewContext.RouteData.Values["id"]@TempData["QueryString"]" />
    *@<!-- Meta data-->
    <!--[if gte IE 9 | !IE ]><!-->
    <link href="~/assets/favicon.ico" rel="icon" type="image/x-icon">
    <link href="~/css/wet/wet-boew.min.css" rel="stylesheet" />
    <link href="~/css/wet/theme.min.css" rel="stylesheet" />
    <link href="~/css/infobase.css" rel="stylesheet" />
    <!--[if lt IE 9]>
        <link href="~/assets/favicon.ico" rel="shortcut icon" />

        <link rel="stylesheet" href="~/css/ie8-wet-boew.min.css" />
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="~/js/wet/ie8-wet-boew.min.js"></script>
        <![endif]-->
    <!--[if lte IE 9]>


        <![endif]-->
    <noscript>
        <link rel="stylesheet" href="./css/noscript.min.css" />
    </noscript>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/react/16.4.0/umd/react.development.js"></script>
    <script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/16.4.0/umd/react-dom.development.js"></script>
</head>

<body vocab="http://schema.org/" typeof="WebPage">
    <ul id="wb-tphp">
        <li class="wb-slc">
            <a class="wb-sl" href="#wb-cont">Skip to main content</a>
        </li>
        <li class="wb-slc visible-sm visible-md visible-lg">
            <a class="wb-sl" href="#wb-info">Skip to "About this site"</a>
        </li>
    </ul>
    <header role="banner">
        <div id="wb-bnr" class="container">
            <section id="wb-lng" class="visible-md visible-lg text-right">
                <h2 class="wb-inv">Language selection</h2>
                <div class="row">
                    <div class="col-md-12">
                        <ul class="list-inline margin-bottom-none">
                            <li>
                                @Html.ActionLink("Francais", ViewContext.RouteData.Values["action"].ToString(), new { language = "FR" });
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
            <div class="row">
                <div class="brand col-xs-8 col-sm-9 col-md-6">
                    <a href="http://www.canada.ca/en/index.html"><object type="image/svg+xml" tabindex="-1" data="~/Content/assets/sig-blk-en.svg"></object><span class="wb-inv"> Government of Canada</span></a>
                </div>
                <section class="wb-mb-links col-xs-4 col-sm-3 visible-sm visible-xs" id="wb-glb-mn">
                    <h2>Search and menus</h2>
                    <ul class="list-inline text-right chvrn">
                        <li><a href="#mb-pnl" title="Search and menus" aria-controls="mb-pnl" class="overlay-lnk" role="button"><span class="glyphicon glyphicon-search"><span class="glyphicon glyphicon-th-list"><span class="wb-inv">Search and menus</span></span></span></a></li>
                    </ul>
                    <div id="mb-pnl"></div>
                </section>
                <section id="wb-srch" class="col-xs-6 text-right visible-md visible-lg">
                    <h2 class="wb-inv">Search</h2>
                    <form action="#" method="post" name="cse-search-box" role="search" class="form-inline">
                        <div class="form-group">
                            <label for="wb-srch-q" class="wb-inv">Search website</label>
                            <input id="wb-srch-q" list="wb-srch-q-ac" class="wb-srch-q form-control" name="q" type="search" value="" size="27" maxlength="150" placeholder="Search Canada.ca">
                            <datalist id="wb-srch-q-ac">
                                <!--[if lte IE 9]><select><![endif]-->
                                <!--[if lte IE 9]></select><![endif]-->
                            </datalist>
                        </div>
                        <div class="form-group submit">
                            <button type="submit" id="wb-srch-sub" class="btn btn-primary btn-small" name="wb-srch-sub"><span class="glyphicon-search glyphicon"></span><span class="wb-inv">Search</span></button>
                        </div>
                    </form>
                </section>
            </div>
        </div>
        <nav role="navigation" id="wb-sm" class="wb-menu visible-md visible-lg" data-trgt="mb-pnl" typeof="SiteNavigationElement">
            <div class="pnl-strt container nvbar">
                <h2 class="wb-inv">Topics menu</h2>
                <div class="row">
                    <ul class="list-inline menu" role="menubar">
                        <li>
                            <a href="#jobs" class="item">Jobs</a>
                            <ul class="sm list-unstyled" id="jobs" role="menu">
                                <li><a href="http://www.jobbank.gc.ca/home-eng.do?lang=eng">Job Bank</a></li>
                                <li><a href="http://www.esdc.gc.ca/en/jobs/opportunities/index.page">Find a job</a></li>
                                <li><a href="http://www.esdc.gc.ca/en/jobs/training/index.page">Training</a></li>
                                <li><a href="http://www.canada.ca/en/services/business/hire.html">Hire and manage employees</a></li>
                                <li><a href="http://www.canada.ca/en/services/business/start/index.html">Starting a business</a></li>
                                <li><a href="http://www.esdc.gc.ca/en/jobs/workplace/index.page">Workplace standards</a></li>
                                <li><a href="http://www.canada.ca/en/services/finance/pensions/index.html">Pensions and retirement</a></li>
                                <li><a href="http://www.esdc.gc.ca/en/jobs/ei/index.page">Employment Insurance</a></li>
                                <li class="slflnk"><a href="http://www.esdc.gc.ca/en/jobs/index.page">Jobs – More</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#immigration" class="item">Immigration</a>
                            <ul class="sm list-unstyled" id="immigration" role="menu">
                                <li><a href="http://www.cic.gc.ca/english/e-services/index.asp">My application</a></li>
                                <li><a href="http://www.cic.gc.ca/english/immigrate/index.asp">Immigrate</a></li>
                                <li><a href="http://www.cic.gc.ca/english/visit/index.asp">Visit</a></li>
                                <li><a href="http://www.cic.gc.ca/english/work/index.asp">Work</a></li>
                                <li><a href="http://www.cic.gc.ca/english/study/index.asp">Study</a></li>
                                <li><a href="http://www.cic.gc.ca/english/citizenship/index.asp">Citizenship</a></li>
                                <li><a href="http://www.cic.gc.ca/english/residents/new_immigrants.asp">New immigrants</a></li>
                                <li><a href="http://www.cic.gc.ca/english/residents/canadians.asp">Canadians</a></li>
                                <li><a href="http://www.cic.gc.ca/english/refugees/index.asp">Refugees & asylum</a></li>
                                <li><a href="http://www.cic.gc.ca/english/enforcement/index.asp">Enforcement & violations</a></li>
                                <li class="slflnk"><a href="http://www.cic.gc.ca/english/index.asp">Immigration – More</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#travel" class="item">Travel</a>
                            <ul class="sm list-unstyled" id="travel" role="menu">
                                <li><a href="http://travel.gc.ca/travelling/advisories">Travel Advice and Advisories</a></li>
                                <li><a href="http://travel.gc.ca/canadian-tourism">Canadian attractions, events & experiences</a></li>
                                <li><a href="http://travel.gc.ca/travelling/documents/passport">Canadian passports</a></li>
                                <li><a href="http://travel.gc.ca/travelling">Travelling abroad</a></li>
                                <li><a href="http://travel.gc.ca/air">Air travel</a></li>
                                <li><a href="http://travel.gc.ca/returning">Returning to Canada</a></li>
                                <li><a href="http://travel.gc.ca/assistance">Assistance abroad</a></li>
                                <li><a href="http://travel.gc.ca/stay-connected">Stay connected</a></li>
                                <li class="slflnk"><a href="https://travel.gc.ca">Travel - More</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#business" class="item">Business</a>
                            <ul class="sm list-unstyled" id="business" role="menu">
                                <li><a href="https://www.canada.ca/en/services/business/start">Starting a business</a></li>
                                <li><a href="https://www.canada.ca/en/services/business/grants">Grants and financing</a></li>
                                <li><a href="https://www.canada.ca/en/services/business/taxes.html">Business taxes</a></li>
                                <li><a href="https://www.canada.ca/en/services/business/doing-business.html">Doing business with government</a></li>
                                <li><a href="https://www.canada.ca/en/services/business/trade">International trade and investment</a></li>
                                <li><a href="https://www.canada.ca/en/services/science/innovation">Research and development (R&D) and innovation</a></li>
                                <li><a href="https://www.canada.ca/en/services/business/ip">Intellectual property and copyright</a></li>
                                <li><a href="https://www.canada.ca/en/services/business/permits">Permits, licences and regulations</a></li>
                                <li><a href="https://www.canada.ca/en/services/business/research">Research and business intelligence</a></li>
                                <li><a href="https://www.canada.ca/en/services/business/hire">Hiring and managing employees</a></li>
                                <li><a href="https://www.canada.ca/en/services/business/maintaingrowimprovebusiness">Maintain, grow and improve your business</a></li>
                                <li><a href="https://www.canada.ca/en/services/business/protecting">Protect your business</a></li>
                                <li><a href="https://www.canada.ca/en/services/business/bankruptcy">Bankruptcy for business</a></li>
                                <li class="slflnk"><a href="https://www.canada.ca/en/services/business.html">Business – More</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#benefits" class="item">Benefits</a>
                            <ul class="sm list-unstyled" id="benefits" role="menu">
                                <li><a href="http://www.canada.ca/en/services/benefits/ei/index.html">Employment Insurance</a></li>
                                <li><a href="http://www.canada.ca/en/services/benefits/family.html">Family benefits</a></li>
                                <li><a href="http://www.canada.ca/en/services/benefits/retirement.html">Retirement & public pensions</a></li>
                                <li><a href="http://www.canada.ca/en/services/benefits/education/index.html">Education & training</a></li>
                                <li><a href="http://www.canada.ca/en/services/benefits/housing.html">Housing benefits</a></li>
                                <li><a href="http://www.canada.ca/en/services/benefits/disability/index.html">Disability benefits</a></li>
                                <li class="slflnk"><a href="https://www.canada.ca/en/services/benefits.html">Benefits - More</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#health" class="item">Health</a>
                            <ul class="sm list-unstyled" id="health" role="menu">
                                <li><a href="https://www.canada.ca/en/services/health/health-risks-safety.html">Health risks and safety</a></li>
                                <li><a href="https://www.canada.ca/en/services/health/food-nutrition.html">Food and nutrition</a></li>
                                <li><a href="https://www.canada.ca/en/services/health/drug-health-products.html">Drugs and health products</a></li>
                                <li><a href="https://www.canada.ca/en/services/health/product-safety.html">Product safety</a></li>
                                <li><a href="https://www.canada.ca/en/services/health/diseases-conditions.html">Diseases and conditions</a></li>
                                <li><a href="https://www.canada.ca/en/services/health/healthy-living.html">Healthy living</a></li>
                                <li><a href="https://www.canada.ca/en/services/health/aboriginal-health.html">Aboriginal health</a></li>
                                <li><a href="https://www.canada.ca/en/services/health/health-system-services.html">Health system and services</a></li>
                                <li><a href="https://www.canada.ca/en/services/health/science-research-data.html">Science, research and data</a></li>
                                <li class="slflnk"><a href="https://www.canada.ca/en/services/health.html">Health – More</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#taxes" class="item">Taxes</a>
                            <ul class="sm list-unstyled" id="taxes" role="menu">
                                <li><a href="https://www.canada.ca/en/services/taxes/income-tax/index.html">Income Tax</a></li>
                                <li><a href="https://www.canada.ca/en/services/taxes/gsthst/index.html">GST</a></li>
                                <li><a href="https://www.canada.ca/en/services/taxes/payroll/index.html">Payroll</a></li>
                                <li><a href="https://www.canada.ca/en/services/taxes/business-number/index.html">Business number</a></li>
                                <li><a href="https://www.canada.ca/en/services/taxes/savings-and-pension-plans/index.html">Savings and pension plans</a></li>
                                <li><a href="https://www.canada.ca/en/services/taxes/child-and-family-benefits/index.html">Child and family benefits</a></li>
                                <li><a href="https://www.canada.ca/en/services/taxes/excise-taxes-duties-and-levies/index.html">Excise taxes, duties, and levies</a></li>
                                <li><a href="https://www.canada.ca/en/services/taxes/charities/index.html">Charities and giving</a></li>
                                <li class="slflnk"><a href="https://www.canada.ca/en/services/taxes.html">">Taxes - More</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#more-services" class="item">More services</a>
                            <ul class="sm list-unstyled" id="more-services" role="menu">
                                <li><a href="http://www.canada.ca/en/services/environment/index.html">Environment & natural resources</a></li>
                                <li><a href="http://www.canada.ca/en/services/defence/index.html">National security & defence</a></li>
                                <li><a href="http://www.canada.ca/en/services/culture/index.html">Culture, history & sport</a></li>
                                <li><a href="http://www.canada.ca/en/services/policing/index.html">Policing, justice & emergencies</a></li>
                                <li><a href="http://www.canada.ca/en/services/transport/index.html">Transport & infrastructure</a></li>
                                <li><a href="http://www.canada.ca/en/services/world/index.html">Canada & the world</a></li>
                                <li><a href="http://www.canada.ca/en/services/finance/index.html">Money & finances</a></li>
                                <li><a href="http://www.canada.ca/en/services/science/index.html">Science & innovation</a></li>
                                <li class="slflnk"><a href="https://www.canada.ca/en/services.html">All services</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <nav role="navigation" id="wb-bc" class="" property="breadcrumb">
            <h2 class="wb-inv">You are here:</h2>
            <div class="container">
                <div class="row">
                    <ol class="breadcrumb">
                        <li><a href="https://www.canada.ca/en.html">Home</a></li>
                        <li><a href="https://www.canada.ca/en/services/health.html">Health</a></li>
                        <li><a href="https://www.canada.ca/en/services/health/science-research-data.html">Science, research & data</a></li>
                        <li>Public Health ReactDotNetDemo</li>
                    </ol>
                </div>
            </div>
        </nav>
    </header>
    <main role="main" property="mainContentOfPage" class="container">

        <h1 property="name" id="wb-cont" class="mrgn-tp-md">Public Health ReactDotNetDemo</h1>
        <div class="container-fluid">
            <div class="row">
                @RenderBody()
            </div>
        </div>

        <div class="clearfix"></div>
        <div class="row pagedetails">
            <div class="datemod col-xs-12 mrgn-tp-lg">
                <dl id="wb-dtmd">
                    <dt>Date modified: </dt>
                    <dd>
                        <time property="dateModified">2016-12-01</time>
                    </dd>
                </dl>
            </div>
        </div>
    </main>
    <footer role="contentinfo" id="wb-info">

        <nav role="navigation" class="container wb-navcurr">
            <h2 class="wb-inv">About government</h2>
            <ul class="list-unstyled colcount-sm-2 colcount-md-3">
                <li><a href="https://www.canada.ca/en/contact.html">Contact us</a></li>
                <li><a href="https://www.canada.ca/en/government/dept.html">Departments and agencies</a></li>
                <li><a href="https://www.canada.ca/en/government/publicservice.html">Public service and military</a></li>
                <li><a href="https://www.servicecanada.gc.ca/gcnews">News</a></li>
                <li><a href="https://www.canada.ca/en/government/system/laws.html">Treaties, laws and regulations</a></li>
                <li><a href="https://www.canada.ca/en/transparency/reporting.html">Government-wide reporting</a></li>
                <li><a href="http://pm.gc.ca/eng">Prime Minister</a></li>
                <li><a href="https://www.canada.ca/en/government/system.html">How government works</a></li>
                <li><a href="http://open.canada.ca/en/">Open government</a></li>
            </ul>
        </nav>
        <div class="brand">
            <div class="container">
                <div class="row">
                    <nav class="col-md-10 ftr-urlt-lnk">
                        <h2 class="wb-inv">About this site</h2>
                        <ul>
                            <li><a href="https://www.canada.ca/en/social.html">Social media</a></li>
                            <li><a href="https://www.canada.ca/en/mobile.html">Mobile applications</a></li>
                            <li><a href="http://www1.canada.ca/en/newsite.html">About Canada.ca</a></li>
                            <li><a href="https://www.canada.ca/en/transparency/terms.html">Terms and conditions</a></li>
                            <li><a href="https://www.canada.ca/en/transparency/privacy.html">Privacy</a></li>
                        </ul>
                    </nav>
                    <div class="col-xs-6 visible-sm visible-xs tofpg">
                        <a href="#wb-cont">Top of Page <span class="glyphicon glyphicon-chevron-up"></span></a>
                    </div>
                    <div class="col-xs-6 col-md-2 text-right">
                        <object type="image/svg+xml" tabindex="-1" role="img" data="~/Content/assets/wmms-blk.svg" aria-label="Symbol of the Government of Canada"></object>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--[if gte IE 9 | !IE ]><!-->
    <script src="~/js/wet/wet-boew.min.js"></script>
    <!--<![endif]-->
    <!--[if lt IE 9]>
        <script src="~/Scripts/ie8-wet-boew2.min.js"></script>
        <![endif]-->
    <script src="~/js/wet/theme.min.js"></script>
    <script src="@Url.Content("~/js/vendor.js")"></script>
    <script src="@Url.Content("~/js/app.js")"></script>
    
    @Html.ReactInitJavaScript()
</body>

</html>
