@using Models.Metadata
@using System.Linq
@model IEnumerable<dynamic>
@{
    Layout = "_Layout.cshtml";
    
    // Due to the life course not being at the root of the tree, it is necessary to employ some hacks to work as if it were
    string language = i18nTransformer.Culture;


}

    <div class="row">
        <div class="col-md-8">
            @switch (language)
            {
                case "en-ca":
                    @:<p>The Physical Activity, Sedentary Behaviour and Sleep (PASS) Indicators provides important surveillance information on physical activity, sedentary and sleep behaviours in Canadians as well as factors that influence them. The PASS Indicators include 55 unique indicators and their measures, grouped by movement behaviour (physical activity, sedentary behaviour and sleep) and three key domains: individual, family/social environment, and built/society environment.</p>
                    @:<p>For an overview of the 2018 edition of the PASS Indicators, see the Quick Stats Overview below. Click on any of the three activities listed under adults (aged 18+ years) or children and youth (aged 5 to 17 years). A list of all indicator groups, indicators and their measures with their corresponding pan-Canadian estimates, where available, will unfold. Additionally, a detailed description of each measure, excluding those considered “In development”, can be obtained by clicking on the “Description” link next to each measure.</p>
                    @:<p>To dive deeper into the pan-Canadian estimates from the 2018 edition of the PASS Indicators, click the "Data Tool" tab above. This interactive “Data Tool” provides access to all available data breakdowns by key demographic and socioeconomic variables for every measure where data is available.</p>
                    @:<p>The 2017 edition of the PASS Indicators Quick Stats is available in printer-friendly PDFs for both <a href="https://health-infobase.canada.ca/src/doc/pass_childrenyouth_en.pdf">children and youth</a> and <a href="https://health-infobase.canada.ca/src/doc/pass_adults_en.pdf">adults</a>. The 2018 edition is only available online at this time.</p>
                    @:<p><a href="https://www.canada.ca/en/services/health/monitoring-surveillance/physical-activity-sedentary-behaviour-sleep.html">Learn more about PASS.</a></p>

                    break;

                case "fr-ca":
                    @:<p>Les indicateurs de l’activité physique, du comportement sédentaire et du sommeil (APCSS) fournissent des renseignements importants sur l’activité physique, le comportement sédentaire et le sommeil chez les Canadiens, de même que sur les facteurs qui les influencent. Les indicateurs de l’APCSS comportent 55 indicateurs uniques et leurs mesures, regroupés en comportements en matière de mouvement (activité physique, comportement sédentaire et sommeil) et dans trois domaines clés : l’individu, l’environnement familial ou social et l’environnement bâti ou la société.</p>
                    @:<p>Pour obtenir un aperçu de l’édition 2018 des indicateurs de l’APCSS, consultez l’aperçu Statistiques rapides ci-dessous. Cliquez sur l’une des trois activités énoncées ci dessous sous la rubrique Adultes (âgés de 18 ans et plus) ou Enfants et jeunes (âgés de 5 à 17 ans). Une liste de tous les groupes indicateurs, des indicateurs et de leurs mesures, de même que de leurs estimations pancanadiennes correspondantes, s’affichera lorsque disponible. De plus, pour obtenir une description détaillée de chaque mesure, excluant celles qui sont considérées comme « en cours d’élaboration », il suffit de cliquer sur le lien « Description » à côté de celle ci.</p>
                    @:<p>Pour explorer de façon plus approfondie les estimations pancanadiennes pour l’édition 2018 des indicateurs de l’APCSS, cliquez « Outil des données » sur l’onglet ci-dessus. Cet « outil de données » interactif fournit un accès à toutes les données ventilées selon des variables démographiques et socioéconomiques clés pour chaque mesure pour laquelle il existe des données.</p>
                    @:<p>L’édition 2017 des Statistique rapides des indicateurs de l’APCSS est disponible dans un format PDF pour imprimable, à la fois pour <a href="https://sante-infobase.canada.ca/src/doc/pass_childrenyouth_fr.pdf">les enfants et les jeunes</a> et pour <a href="https://sante-infobase.canada.ca/src/doc/pass_adults_fr.pdf">les adultes</a>. The 2018 edition is only available online at this time.</p>
                    @:<p><a href="https://www.canada.ca/fr/services/sante/controle-et-surveillance/activite-physique-comportement-sedentaire-sommeil.html">Pour de plus amples renseignements sur l’APCSS.</a></p>

                    break;
            }
        </div>
        <div class="col-md-4">
            @switch (language)
            {
                case "en-ca":
                    @:<figure class="thumbnail">
                        @:<a href="https://www.canada.ca/en/public-health/services/reports-publications/health-promotion-chronic-disease-prevention-canada-research-policy-practice/vol-39-no-5-2019/conceptualizing-framework-for-surveillance-physical-activity-sedentary-behaviour-and-sleep.html"><img src='@Url.Content("~/img/pass-thumbnail-en.jpg")' width="350" height="350" alt="Current physical activity, sedentary behaviour and sleep (PASS) visual model of the conceptual framework for surveillance in Canada "></a>
                        @:<figcaption class="caption">
                            @:<p><strong>The <a href="https://www.canada.ca/en/public-health/services/reports-publications/health-promotion-chronic-disease-prevention-canada-research-policy-practice/vol-39-no-5-2019/conceptualizing-framework-for-surveillance-physical-activity-sedentary-behaviour-and-sleep.html">PASS visual model of the conceptual framework for surveillance</a> is also available.</strong></p>
                        @:</figcaption>
                    @:</figure>
                    break;
                case "fr-ca":
                    @:<figure class="thumbnail">
                        @:<a href="https://www.canada.ca/fr/sante-publique/services/rapports-publications/promotion-sante-prevention-maladies-chroniques-canada-recherche-politiques-pratiques/vol-39-no-5-2019/conceptualisation-cadre-surveillance-activite-physique-comportement-sedentaire-et-sommeil.html"><img src='@Url.Content("~/img/pass-thumbnail-fr.jpg")' width="350" height="350" alt="Figure 2. Nouveau modèle visuel du cadre conceptuel de surveillance de l’activité physique, du comportement sédentaire et du sommeil (APCSS) au Canada"></a>
                        @:<figcaption class="caption">
                            @:<p><strong>Le modèle visuel du <a href="https://www.canada.ca/fr/sante-publique/services/rapports-publications/promotion-sante-prevention-maladies-chroniques-canada-recherche-politiques-pratiques/vol-39-no-5-2019/conceptualisation-cadre-surveillance-activite-physique-comportement-sedentaire-et-sommeil.html">cadre conceptuel de surveillance de l'APCSS</a> est aussi disponible.</strong></p>
                        @:</figcaption>
                    @:</figure>
                    break;
            }
        </div>
        </div>
    <br>

@switch (language) {
            case "en-ca":
                @:<h2>Quick Stats Overview</h2>
                @:<p>For more information about each indicator, click on the categories below:</p>
                break;
            case "fr-ca":
                @:<h2>Statistiques rapides</h2>
	            @:<p>Vous pouvez obtenir des informations supplémentaires sur ces indicateurs en cliquant sur les catégories ci-dessous :</p>
                break;
        }
<div>
            @foreach (var domain in Model)
            {
                <details>
                    <summary>@domain.ColActivityNameEn</summary>
                    <div class="table-responsive">
                        <table class="table table-striped table-hover table-bordered">
                            <thead>
                                <tr>
                                    
                                    <th class="width-20" scope="col">Indicator Group</th>
                                    <th class="width-30" scope="col">Indicator Measure(s)</th>
                                    <th class="width-10" scope="col">Latest Estimate</th>
                                    <th class="width-20" scope="col">Source (Year)</th>
                                    <th scope="col">Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var indicatorGroup in domain.ColIndicatorGroups)
                                {
                                    @foreach (var measure in indicatorGroup.ColLifeCourses) {
                                        <tr>
                                        @if (measure == Enumerable.First(indicatorGroup.ColLifeCourses)) {
                                            <td rowspan="@Enumerable.Count(indicatorGroup.ColLifeCourses)">@indicatorGroup.ColIndicatorGroupNameEn</td>
                                        }
                                        <td>measure.ColLifeCourseNameEn</td>
                                        <td>@measure.DefaultColIndicator.DefaultColSpecificMeasure1.DefaultColDataBreakdowns.DefaultColDisaggregation.ValueAverage %</td>
                                        <td>measure.ColDataSourceEn</td>
                                        <td><a class="btn btn-default" asp-route-page="indicator-details" asp-route-id="@measure.Index">Description</a></td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </details>

            }
    </div>
</div>
<div class="clearfix"></div>
<br/>
<div class="col-sm-12">
<div class="panel panel-info">
    <div class="panel-heading">
        <h2 class="panel-title">Notes</h2>
    </div>
    <div class="panel-body small">
        <ul class="list-unstyled">
            <li><strong>Abbreviations:</strong> CCHS-Annual = Canadian Community Health Survey – Annual Component; CCHS-MH = Canadian Community Health Survey – Mental Health; CINS = Canadian Income Survey; HBSC = Health Behaviour in School-aged Children; CIS = Canadian Incidence Study of Reported Child Abuse and Neglect; CVS = Canadian Vital Statistics – Birth Database (excluding Quebec); eCHIRPP = electronic Canadian Hospital Injury Reporting and Prevention Program; GSS = General Social Survey; SYC-Child = Survey of Young Canadians – Child questionnaire ; SYC-MKP = Survey of Young Canadians – Most-Knowledgeable Person questionnaire; UCR = Uniform Crime Reporting Survey.</li>
            <li><strong>Note:</strong> “In development” refers to measures where their data source is currently not available or that more research is needed to identify a promising measure and data source.</li>
            <li><strong>GSS:</strong> The estimates in this indicator framework are consistent with those from the Family Violence in Canada: A statistical profile, 2015 report from Statistics Canada, which reports higher estimates than those from the guidelines for the Childhood Experiences of Violence Questionnaire (CEVQ). The first includes all positive responses to all child maltreatment questions. The latter includes all positive responses, except for two of the physical abuse subtypes (the less severe ones) and exposure to intimate partner violence if it occurred less than 3 times.</a></li>			
          
            </ul>
    </div>
</div>