@model Infobase.Models.ChartPageModel
@{
    Layout = "_Layout.cshtml";
    string language = ViewContext.RouteData.Values["language"].ToString();
}
@Html.React("Components.InitializeChartDataStore", new {
            state = Model
        }, clientOnly: true)

<div class="row brdr-bttm" style="padding-bottom:50px;">
    @switch (language) {
        case "en-ca":
            @Html.React("Components.Filters", new
		{
            prompt = "Select an item from each list below"
        }, clientOnly: true)
            break;
        case "fr-ca":
            @Html.React("Components.Filters", new
		{
            prompt = "Sélectionner les paramètres d'intérêt"
        }, clientOnly: true)
            break;
    }
        
	
    <div class="col-md-9 mrgn-tp-md brdr-lft text-center ">
        @Html.React("Components.Charting", new { Animate=true }, clientOnly: true)
        @switch (language) {
            case "en-ca":
                @:<button id="btnSaveChart" class="btn btn-success btn-sm">Save Chart</button>
                break;
            case "fr-ca":
                @:<button id="btnSaveChart" class="btn btn-success btn-sm">Enregistrer</button>
                break;
        }
        
    </div>
</div>

    <div class="row">
<div class="col-sm-12">
    @switch (language) {
        case "en-ca":
            @Html.React("Components.SummaryTable", new { 
                chartData = Model.ChartData,
                cvWarning = "Cells highlighted in yellow should be interpreted with caution as they contain estimates with a coefficient of variation between {warn}% to {suppress}%.", 
                cvSuppressed = "Cells highlighted in red indicate where estimates are unstable or unreleasable due to small numbers and/or coefficients of variation greater than {suppress}%.",
                cvWarningAlt = "Cells highlighted in yellow should be interpreted with caution.", 
                cvSuppressedAlt = "Cells highlighted in red indicate where estimates are unstable or unreleasable."
            },
            clientOnly: true);
            break;
        case "fr-ca":
            @Html.React("Components.SummaryTable", new { 
                chartData = Model.ChartData,
                cvWarning = "Les données dont le coefficient de variation (CV) se situe entre {warn}% et {suppress}% sont identifiées comme suit : Les cellules jaune et indiqué (E) à utiliser avec prudence.", 
                cvSuppressed = "Les données présentant un coefficient de variation (CV) supérieur à {suppress}% ont été supprimées en raison de l'extrême variabilité d'échantillonnage et sont identifiées comme suit : les cellules rouge et indiqué (F) trop peu fiables pour être publiées.",
                cvWarningAlt = "Les cellules jaune et indiqué (E) à utiliser avec prudence.", 
                cvSuppressedAlt = "Les cellules rouge et indiqué (F) trop peu fiables pour être publiées."
            },
            clientOnly: true);
            break;
    }
</div>
</div>
<div class="row brdr-bttm">
    <div class="col-md-12">

        <h4 id="desc" class="row">
            @switch (language) {
                    case "en-ca":
                        @:<span class="col-sm-12">Measure Description</span>
                        break;
                    case "fr-ca":
                        @:<span class="col-sm-12">Descriptions des mesures</span>
                        break;
                }
        </h4>

        <div class="row">
            <div class="col-sm-12">
                @switch (language) {
                    case "en-ca":
                        @Html.React("Components.DescriptionTable", new { 
                            definitionText = "Definition",
                            dataAvailableText = "Data Available",
                            methodsText = "Estimate Calculation",
                            remarksText = "Additional Remarks"
                        }, clientOnly: true);
                        break;
                    case "fr-ca":
                        @Html.React("Components.DescriptionTable", new { 
                            definitionText = "Définition",
                            dataAvailableText = "Ventilation des données",
                            methodsText = "Méthodes de calculs",
                            remarksText = "Remarques supplémentaires"
                        }, clientOnly: true);
                        break;
                }
                
            </div>
        </div>

    </div>
</div>
<br/>
<section class="panel panel-info">
    <header class="panel-heading">
        
            @switch (language) {
                    case "en-ca":
                        @:<h3 class="panel-title">Suggested Citation</h3>
                        break;
                    case "fr-ca":
                        @:<h3 class="panel-title">Citation suggérée</h3>
                        break;
                }
    </header>
    <div class="panel-body">
        @switch (language) {
                    case "en-ca":
                        @:<p>Center for Surveillance and Applied Research, Public Health Agency of Canada. Physical Activity, Sedentary Behaviour and Sleep (PASS) Indicators Data Tool, 2018 Edition. Public Health Infobase. Ottawa (ON): Public Health Agency of Canada, 2018.</p>
                        break;
                    case "fr-ca":
                        @:<p>Centre de surveillance et de recherche appliquée, Agence de la santé publique du Canada. Outil des données de L'indicateurs de l’activité physique, du comportement sédentaire et du sommeil (APCSS), édition 2018. Infobase de la santé publique. Ottawa (Ontario): Agence de la santé publique du Canada, 2018.</p>
                        break;
                }
    </div>
</section>
<div style="width: 0; height: 0; overflow: hidden;">
<div style="width: 820px;" class="chartContainer">
@Html.React("Components.Charting", new { Animate = false }, clientOnly: true)
@switch (language) {
        case "en-ca":
            @Html.React("Components.SummaryTable", new { 
                cvWarning = "Cells highlighted in yellow should be interpreted with caution as they contain estimates with a coefficient of variation between {warn}% to {suppress}%.", 
                cvSuppressed = "Cells highlighted in red indicate where estimates are unstable or unreleasable due to small numbers and/or coefficients of variation greater than {suppress}%."
            },
            clientOnly: true);
            break;
        case "fr-ca":
            @Html.React("Components.SummaryTable", new { 
                cvWarning = "Cells highlighted in yellow should be interpreted with caution as they contain estimates with a coefficient of variation between {warn}% to {suppress}%.", 
                cvSuppressed = "Cells highlighted in red indicate where estimates are unstable or unreleasable due to small numbers and/or coefficients of variation greater than {suppress}%."
            },
            clientOnly: true);
            break;
    }
</div>
</div>
