@model Infobase.Models.ChartPageModel
@{
    Layout = "_Layout.cshtml";
    string edition = "2018";
}


<div class="col-sm-12">
<div class="row brdr-bttm mrgn-bttm-0" style="margin: 0">
        
        @Html.React("Components.Filters", new
   {
       filters = Model.filters,
       prompt = new Translatable()
           {
               { ("en-ca", null), "Select an item from each list below" },
               { ("fr-ca", null), "Sélectionner les paramètres d'intérêt" }
           }
        }, clientOnly: false)


    <div class="col-md-9 mrgn-tp-md brdr-lft text-center ">
        @Html.React("Components.Charting", new { chartData = Model.ChartData }, clientOnly: true)
        <script src="https://cdn.rawgit.com/exupero/saveSvgAsPng/gh-pages/src/saveSvgAsPng.js"></script>
        <style type="text/css">

            .bar rect:hover {
                fill: #dfbcbd;
            }

            .footnote tspan {
                fill: rgb(220, 20, 60);
            }

            .axis-label {
                text-anchor: middle;
                font-weight: bold;
            }

            #title {
                text-align: center;
            }
        </style>
        <a onclick="return saveSvgAsPng(document.getElementById('graph'), 'chart.png');" class="btn btn-success btn-sm" href="javascript:">@(Model.LanguageCode == "fr-ca" ? "Enregistrer" : "Save Chart")</a>
    </div>
</div>

@{
        var cellsEmptyText = new Translatable() {
                                                {("en-ca", null), "Cells are empty when data are missing."},
                                                {("fr-ca", null), "Les cellules vides indiquent que les données ne sont pas disponibles."}
                                                };

        var cvWarnText = new Translatable() {
                                                {("en-ca", null), "Cells highlighted in yellow should be interpreted with caution as they contain estimates with a coefficient of variation between {warn}% to {suppress}%."},
                                                {("fr-ca", null), "Les données dont le coefficient de variation (CV) se situe entre {warn}% et {suppress}% sont identifiées comme suit : Les cellules jaune et indiqué (E) à utiliser avec prudence."},
                                                {("fr-ca", "alt"), "Yellow nope"},
                                                {("en-ca", "alt"), "Yellow nope"}
                                                
                                                };
        var cvSuppressText = new Translatable() {
                                                {("en-ca", null), "Cells highlighted in red indicate where estimates are unstable or unreleasable due to small numbers and/or coefficients of variation greater than {suppress}%."},
                                                {("fr-ca", null), "Les données présentant un coefficient de variation (CV) supérieur à {suppress}% ont été supprimées en raison de l'extrême variabilité d'échantillonnage et sont identifiées comme suit : les cellules rouge et indiqué (F) trop peu fiables pour être publiées."},
                                                {("fr-ca", "alt"), "cannot be displayed but red"},
                                                {("en-ca", "alt"), "cannot be displayed but red en francais"}
                                                
                                                };
    }
    <div class="row">
<div class="col-sm-12">
    @Html.React("Components.SummaryTable", new { chartData = Model.ChartData, cellsEmpty=cellsEmptyText, cvWarning = cvWarnText, cvSuppressed = cvSuppressText }, clientOnly: true)
</div>
</div>
<div class="row brdr-bttm">
    <div class="col-md-12">

        <h4 id="desc" class="row">
                @if (Model.LanguageCode == "fr-ca")
                {
                    <span class="col-sm-12">Descriptions des mesures</span>
                }
                else
                {
                    <span class="col-sm-12">Measure Description</span>
                }
        </h4>

        <div class="row">
        <div class="col-sm-12">
            @Html.React("Components.DescriptionTable", new { definitionText = new Translatable() {
                {("en-ca", null), "Definition"},
                {("fr-ca", null), "Définition"}
            },
            dataAvailableText = new Translatable() {
                {("en-ca", null), "Data Available"},
                {("fr-ca", null), "Ventilation des données"}
            },
            
            methodsText = new Translatable() {
                {("en-ca", null), "Estimate Calculation"},
                {("fr-ca", null), "Méthodes de calculs"}
            },
            remarksText = new Translatable() {
                {("en-ca", null), "Additional Remarks"},
                {("fr-ca", null), "Remarques supplémentaires"}
            }
            }, clientOnly: true)
            
</div>
        </div>

    </div>
</div>
<div class="row brdr-bttm">
    <div class="col-md-12">

        <h3 id="cit" class="h4">
            <span id="ContentPlaceHolder_Body_LabelCit" class="panel-title">Suggested Citation :</span>
        </h3>
        <div class="bg-info">
            @if (Model.LanguageCode == "fr-ca")
            {
                <p>Centre de la surveillance et de la recherche appliquée, Agence de la santé publique du Canada.Cadre d'indicateurs des maladies chroniques et des blessures : édition @edition. Ottawa (Ont.), @edition.</p>
            }

            else
            {
                <p>Centre for Surveillance and Applied Research, Public Health Agency of Canada. Canadian Chronic Disease Indicators, @edition Edition. Ottawa (ON), @edition.</p>
            }

        </div>
    </div>
</div>
</div>