@model ReactDotNetDemo.Models.ChartPageModel
@{
    Layout = "_Layout.cshtml";
    ViewBag.currentTabName = "Tool";
    string edition = "2018";
}



<div class="row brdr-bttm bg-white mrgn-bttm-0">
        
        @Html.React("Components.Filters", new
   {
       filters = Model.filters,
       prompt = new Translatable()
           {
               { ("EN", null), "Select an item from each list below" },
               { ("FR", null), "Sélectionner les paramètres d'intérêt" }
           }
        }, clientOnly: true)


    <div class="col-md-9 mrgn-tp-md brdr-lft text-center ">
        @Html.React("Components.Charting", new { chartData = Model.ChartData }, clientOnly: true)
        @Newtonsoft.Json.JsonConvert.SerializeObject(Model)
        <script src="https://cdn.rawgit.com/exupero/saveSvgAsPng/gh-pages/src/saveSvgAsPng.js"></script>
        <style type="text/css">

            .bar rect:hover {
                fill: #dfbcbd;
            }

            .footnote tspan {
                fill: rgb(220, 20, 60);
            }

            .axis-label {
                text-anchor: middle;
                font-weight: bold;
            }

            #title {
                text-align: center;
            }
        </style>
        <a onclick="return saveSvgAsPng(document.getElementById('graph'), 'chart.png');" class="btn btn-success btn-sm" href="javascript:">@(Model.LanguageCode == "FR" ? "Enregistrer" : "Save Chart")</a>
    </div>
</div>

<div class="row brdr-bttm bg-white mrgn-bttm-0">
    @Html.React("Components.SummaryTable", new { chartData = Model.ChartData }, clientOnly: true)
    <div class="col-md-12 bg-white mrgn-tp-0 small">

        <br>
        <div class="bg-warning">
            <p>
                @*<span class="h4 mrgn-tp-0 mrgn-rght-0 mrgn-bttm-sm">Notes:</span>
                @Model.ChartData.notes;
                <br>
                <br>
                <strong>Source: </strong>@Model.ChartData.source<br>
                <strong>Population: </strong>@Model.ChartData.population<br>

                <strong>@(Model.LanguageCode == "FR" ? "Édition" : "Edition"):</strong> @edition
                *@
            </p>

            @{ /*
                var emptyCellText = new Translatable();
                emptyCellText.Add(("EN", "Default"), "Cells are empty when data are missing.");
                emptyCellText.Add(("FR", "Default"), "Les cellules vides indiquent que les données ne sont pas disponibles.");*/
            }
            @if (Model.LanguageCode != "FR")
            {
                <p>Cells are empty when data are missing.</p>
                <p><sup>E</sup>Cells highlighted in yellow should be interpreted with caution as they contain estimates with a coefficient of variation between 16.6% to 33.3%.</p>
                <p>
                    <sup>F</sup>Cells highlighted in red indicate where estimates are unstable or unreleasable due to small numbers and/or coefficients of variation greater than 33.3%.

                </p>
            }
            else
            {
                <p>Les cellules vides indiquent que les données ne sont pas disponibles.</p>
                <p><sup>E</sup>Les données dont le coefficient de variation (CV) se situe entre 16,6 % et 33,3 % sont identifiées comme suit : Les cellules jaune et indiqué (E) à utiliser avec prudence.</p>
                <p>
                    <sup>F</sup>Les données présentant un coefficient de variation (CV) supérieur à 33,3 % ont été supprimées en raison de l'extrême variabilité d'échantillonnage et sont identifiées comme suit : les cellules rouge et indiqué (F) trop peu fiables pour être publiées.

                </p>
            }

        </div>
    </div>
</div>
<div class="row brdr-bttm">
    <div class="col-md-12 bg-white">

        <h4 id="desc">
            <span class="mrgn-tp-0 mrgn-rght-0 mrgn-bttm-sm">
                @if (Model.LanguageCode == "FR")
                {
                    <span>Descriptions des mesures</span>
                }
                else
                {
                    <span>Measure Description</span>
                }

            </span>
        </h4>

        <div>

@*
            <table class="table table-striped table-hover table-condensed table-bordered">
                <tbody>
                    <tr>
                        <td><strong>@(Model.LanguageCode == "FR" ? "Définition" : "Definition")</strong></td>
                        <td>@Model.ChartData.measure.definition</td>
                    </tr>
                    <tr>
                        <td><strong>@(Model.LanguageCode == "FR" ? "Ventilation des données" : "Data Available")</strong></td>
                        <td>@Model.ChartData.measure.dataAvailable</td>
                    </tr>
                    <tr>
                        <td><strong>@(Model.LanguageCode == "FR" ? "Méthodes de calculs" : "Methods Calculation")</strong></td>
                        <td>@Model.ChartData.measure.method</td>
                    </tr>
                    <tr>
                        <td><strong>@(Model.LanguageCode == "FR" ? "Remarques supplémentaires" : "Additional Notes")</strong></td>
                        <td>@Model.ChartData.measure.additionalNotes</td>
                    </tr>
                </tbody>
            </table>
*@




        </div>

    </div>
</div>
<div class="row brdr-bttm">
    <div class="col-md-12 bg-white">

        <h3 id="cit" class="h4">
            <span id="ContentPlaceHolder_Body_LabelCit" class="panel-title">Suggested Citation :</span>
        </h3>
        <div class="bg-info">
            @if (Model.LanguageCode == "FR")
            {
                <p>Centre de la surveillance et de la recherche appliquée, Agence de la santé publique du Canada.Cadre d'indicateurs des maladies chroniques et des blessures : édition @edition. Ottawa (Ont.), @edition.</p>
            }

            else
            {
                <p>Centre for Surveillance and Applied Research, Public Health Agency of Canada. Canadian Chronic Disease Indicators, @edition Edition. Ottawa (ON), @edition.</p>
            }

        </div>
    </div>
</div>
