@model IEnumerable<ReactDotNetDemo.Models.PASS.Strata>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Measure)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Measure.MeasureId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.StrataId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.StrataId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.StrataId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
